*[v-cloak] {display:none}
#app_agre {
  padding: 20px;
}
#app_agre * {
  font-size: 12px;
}
.bold_agre {
  font-weight: bold;
  color: #4d444d;
}
.click_word {
  cursor: pointer;
  color: #409eff;
}
.pag_box {
  text-align: center;
  margin-top: 20px;
}
.header_agre {
  display: flex;
  margin: 0 5px 10px 0;
  justify-content: space-between;
  line-height: 40px;
}
.query_form {
  padding-top: 15px;
  border: 1px solid #EBEEF5;
  border-bottom: none;
  background-image: linear-gradient(top, rgb(230, 230, 230), #fff);
  background-image: -webkit-linear-gradient(top, rgb(230, 230, 230), #fff);
  background-image: -moz-linear-gradient(top, rgb(230, 230, 230), #fff);
  background-image: -o-linear-gradient(top, rgb(230, 230, 230), #fff);
}
.add_agre {
  margin-bottom: 15px;
  line-height: 48px;
  font-size: 14px !important;
  border-bottom: 1px solid #e4e4e4;
}
.pdf_desc {
  margin: 20px 0;
}
.pdf_title {
  margin-bottom: 10px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 16px !important;
  line-height: 48px;
}
.pdf_cnt {
  padding: 15px;
}
#body_agre .el-message-box {
  width: 300px;
}
.form_width {
  width: 300px;
}
